{% extends "base.html" %}
{% load i18n crispy_forms_tags static %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4"
       data-signals="{order: []}">
    <h1>{% trans 'Todos' %}</h1>

    <!-- Button trigger add todo modal -->
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#addTodoModal">{% trans 'Add' %}</button>
  </div>

  {% include 'todos/partials/todo_list.html' with todos=todos %}

  <!-- Add Todo Modal -->
  <div class="modal fade"
       id="addTodoModal"
       tabindex="-1"
       aria-labelledby="addTodoModal"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form method="post"
              data-on:submit="@post('{% url 'todos:todo-create' %}', {contentType: 'form'})"
              data-indicator:submitting>
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">{% trans "Add Todo" %}</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">{{ form | crispy }}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit"
                    class="btn btn-primary"
                    data-attr:disabled="$submitting"
                    data-bs-dismiss="modal">
              <span data-show="$submitting" class="spinner-border spinner-border-sm me-2"></span>
              {% trans 'Save' %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/Sortable.min.js' %}"></script>
  <script>
    const sortContainer = document.getElementById('todos-list');

    new Sortable(sortContainer, {
      animation: 150,
      ghostClass: 'opacity-25',
      onEnd: (evt) => {
        sortContainer.dispatchEvent(
          new CustomEvent('reordered', {detail: {
            order: Array.from(sortContainer.children)
                   .map(item => item.id)
                   .map(id => id.split('-').pop()),
          }})
        )
      }
    })
  </script>
{% endblock scripts %}
