{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>{% trans 'Todos' %}</h1>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
    {% trans 'Add' %}
  </button>
</div>

{% include 'todos/partials/todo_list.html' with todos=todos %}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="addTodoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="{% url 'todos:todo-create' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="addTodoModal">
            {% trans "Add Todo" %}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ form | crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
