repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
  - id: pyupgrade
    args:
      - "--py311-plus"

- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.27.0
  hooks:
  - id: django-upgrade
    args: [--target-version, "4.2"]


- repo: https://github.com/PyCQA/bandit
  rev: '1.8.6'
  hooks:
  - id: bandit
    args: ['-c', 'pyproject.toml']

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.4
  hooks:
    # Run the linter.
    - id: ruff-check
    # Run the formatter.
    - id: ruff-format

-   repo: https://github.com/adamchainz/django-upgrade
    rev: "1.25.0"
    hooks:
    -   id: django-upgrade

- repo: https://github.com/djlint/djLint
  rev: v1.36.4
  hooks:
    - id: djlint-reformat-django
    - id: djlint-django
      args:
        - --ignore=T002,H030,H031
