[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-decouple = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-htmx = "*"
django-tinymce = "*"
pycountry = "*"
pre-commit = "*"
django-allauth = "*"
django-rosetta = "*"
pillow = "*"
django-phonenumber-field = {version = "*", extras = ["phonenumbers"]}
sweetify = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
factory-boy = "*"

[requires]
python_version = "3.10"
