{% load crispy_forms_tags %}
{% load i18n %}

<h2>
  {% blocktrans %}
  {{ title }} Contact
  {% endblocktrans %}
</h2>

{% if object %}
<form method="post" enctype="multipart/form-data" hx-post="{% url 'contacts:contact-edit' object.slug %}"
  hx-target="#detail">
  {% else %}
  <form method="post" enctype="multipart/form-data" hx-post="{% url 'contacts:contact-add' %}" hx-target="body">
    {% endif %}
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-primary" type="submit">
      {% trans 'Save' %}
    </button>
    {% if object %}
    <button class="btn btn-secondary">
      {% trans 'Cancel' %}
    </button>
    {% else %}
    <a href="{% url 'contacts:index' %}" class="btn btn-secondary">
      {% trans 'Cancel' %}
    </a>
    {% endif %}
  </form>
