{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h3>{% trans 'Contacts' %}</h3>

<div class="row">
  <div class="col-md-4 border-end">
    <div class="d-flex align-items-center justify-content-between">
      <input class="form-control me-2" type="search" placeholder="{% trans 'Search' %}" aria-label="Search" name="q"
        hx-get="{% url 'contacts:contact-search' %}" hx-trigger="keyup changed delay:500ms, search"
        hx-target="#contacts">
      <button class="btn btn-outline-primary" hx-get="{% url 'contacts:contact-add' %}" hx-target="#detail">
        {% trans 'Add' %}
      </button>
    </div>
    <hr>
    <ul class="list-group" id="contacts" hx-get="{% url 'contacts:contact-list' %}" hx-trigger="load">
    </ul>
  </div>

  <div class="col-md-8 px-4" id="detail">

  </div>
</div>
{% endblock content %}
