{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos App | Django & HTMX</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
  <main class="container">
    <h1>Todos App</h1>

    <form method="POST" class="my-3" hx-post="/" hx-target="ul" hx-swap="afterbegin">
      {% csrf_token %}
      <div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="todoText" placeholder="What needs to be done" name="todo" required>
          <label for="todoText">
            What needs to be done
          </label>
        </div>
        <button type="submit" class="btn btn-primary">
          Add
        </button>
      </div>
    </form>

    <div class="border mb-3"></div>

    <ul>
      {% for todo in todos %}
      <li>
        <span>
          <input type="checkbox" {% if todo.is_completed %} checked {% endif %}>
        </span>
        {{ todo.text }}
        <span class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
            viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
          </svg>
        </span>
      </li>
      {% endfor %}
      </ul>
  </main>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/htmx.min.js' %}"></script>
</body>

</html>