{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Notes' %}</h1>

<div class="row py-3">
  {% for note in notes %}
  <div class="col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content | safe | truncatechars:60 }}</p>
        <a href="{{ note.get_absolute_url }}" class="btn btn-primary">
          {% trans 'View' %}
        </a>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="lead">{% trans 'No notes yet.' %}
    <a href="{% url 'notes:note-create' %}" class="btn btn-primary">
      {% trans 'Add' %}
    </a>
  </p>
  {% endfor %}
</div>
{% endblock content %}
