{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="d-flex align-items-center">
  <h1>{% trans 'Notes' %}</h1>
  <a href="{% url 'notes:note-create' %}" class="btn btn-success ms-5">
    {% trans 'Add' %}
  </a>
</div>

<div class="row py-3">
  {% for note in notes %}
  <div class="col-sm-6 col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content | safe | truncatechars:60 }}</p>
        <a href="{{ note.get_absolute_url }}" class="btn btn-primary">
          {% trans 'View' %}
        </a>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="lead">
    {% trans 'No notes yet.' %}
  </p>
  {% endfor %}
</div>
{% endblock content %}
