{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Personal Information Manager
    {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">Elegant PIM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="{% url 'todos:todos-index' %}"
              class="nav-link {% if request.path == '/todos/' %} active {% endif %}">
              Todos
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'notes:notes-index' %}"
              class="nav-link {% if request.path == '/notes/' %} active {% endif %}">
              Notes
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container my-4 col-md-8">
    {% block content %}

    {% endblock content %}
  </main>

  <footer class="container-fluid bg-light">
    <div class="container py-3">
      Made with Love by Innocent. &copy; 2023
    </div>
  </footer>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <script src="{% static 'js/Sortable.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% if debug %}
  <script src="{% static 'js/django-debug-toolbar.js' %}"></script>
  {% endif %}
</body>

</html>
