{% load i18n %}

<form method="POST" class="my-3" hx-post="{% url 'todos:todos-index' %}" hx-target="#todos-list" hx-swap="outerHTML">
  <div>
    <div class="form-floating mb-3">
      <input {% if todo %} value="{{ todo.text }}" {% endif %} type="text" class="form-control" id="todoText"
        placeholder="What needs to be done" name="todo" required>
      <label for="todoText">
        {% trans 'What needs to be done' %}
      </label>
    </div>
    {% if todo %}
    <button hx-put="{% url 'todos:update-todo' todo.id %}" type="submit" class="btn btn-primary"
      hx-target="#todo-{{ todo.id }}" hx-swap="outerHTML">
      {% trans 'Update' %}
    </button>
    {% else %}
    <button type="submit" class="btn btn-primary">
      {% trans 'Add' %}
    </button>
    {% endif %}
    <div class="spinner-border htmx-indicator ms-2" role="status">
      <span class="visually-hidden">{% trans 'Loading' %}...</span>
    </div>
  </div>
</form>
